h1
{
	color: rgb(55, 0, 255); 
	font-size: 40px;
}
.body_backgorund {
	background-image: url("bg1.jpg");
	background-position: center;
	background-size: cover;
}

#myCanvas{
border-width: 30px;
background-color: cyan;
border-style: ridge;
}
